<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>GitHub Profiles</title>
    </head>

    <body>
        <div id="app" class="ui container">
            <h1>GitHub Profiles</h1>

            <github-profile>Seymi</github-profile>
        </div>

        <script src="https://unpkg.com/vue@3"></script>

        <script type="text/x-template" id="github-profile-template">
            <div id="get-git-response">
                <input
                    type="text" id="user_name_input"
                    v-model="this.username.value" placeholder="Username eingeben"
                    @keyup.enter="this.getGitProfile(this.username.value)"
                >
                <button class="btn btn-primary" @click="this.getGitProfile(this.username.value)">Profil suchen</button>
            </div>

            <div id="error-status" v-if="this.error" class="error">
                Der User {{ username.value }} konnte nicht gefunden werden!
            </div>

            <div class="ui card">
                <div class="image">
                  <img :src="response.avatar_url">
                </div>
                <div class="content">
                  <a :href="`https://github.com/${this.response.login}`" class="header">{{this.response.login}}</a>
                  <div class="meta">
                    <span class="date">Joined in {{ this.formatedDate }}</span>
                  </div>
                  <div class="description">
                    {{ response.bio }}
                  </div>
                </div>
                <div class="extra content">
                    <a :href="`https://github.com/${username.value}?tab=followers`">

                    <i class="user icon"></i>
                    {{ response.followers }} Friends
                  </a>
                </div>
            </div>
        </script>

        <style>
          .error {
            color:red;
          }
        </style>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="app.js"></script>

        <link rel="stylsheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">

    </body>
</html>
